/* левая часть - навигация -------------- */
#divLeft {
    background-color: black;
    color: rgb(120, 128, 128);
    height: 100%;
    width: 16%;
    left: 0%;
    top: 0%;
    position: fixed;
    text-align: center;
}
.divLeft  {
    padding-top: 10px;
    background-color: rgb(31, 28, 28);
    height: 100%;
}
/* #divLeft  p {
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
    cursor: default;
}
.divLeft  p {
    text-decoration: none;
    font-size: 20px;
    color: #84889b;

    display: block;
    transition: 0.3s;
}
.divLeft  p:hover {
    color: #f1f1f1;
} */
input[type=submit] {
    width:155px;
    height:40px;
    border-radius:20px;
    background-color: rgb(31, 28, 28);
    color:rgb(129, 126, 126);
    font-size:18px;
    cursor:pointer;
    margin-top: 10px;
}
input[type=submit]:hover {
    color: #f1f1f1;
}
/* ----------------------------- левая часть - навигация */

/* правая часть - отобрадение навигационных окон ---------*/
#divRight {
    background-color: rgb(145, 136, 136);
    position: absolute;
    /* height: 110%; */
    width: 84%;
    right: 0%;
    top: 0%;
    /* text-align: center; */
    /* margin: auto; */
    /* width: fit-content; */
}
.divRight {
    /* background-color: rgb(66, 65, 65); */

    /* padding: 2%; */
    /* border-radius: 15px; */
    margin: 2% auto;
    width: fit-content;
    
}
#divMain {
    width: 220px;
    background-color: #ccced8;
    padding: 20px;
    border-radius: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
#divMySchedule {
    width: 20%;
}
#divMySubjects {
    width: 220px;
    background-color: #ccced8;
    padding: 20px;
    border-radius: 40px;
}
#divMySubjects p {
    background-color: aliceblue;
    border-radius: 8px;
    padding: 4px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
#divMySubjects p:hover {
    background-color: aqua;
    position: relative;
    opacity: 1;
    transform: scale(1.1);
}
#divMyGroups {
    width: 220px;
    background-color: #ccced8;
    padding: 20px;
    border-radius: 40px;
}
#divMyGroups p {
    background-color: aliceblue;
    border-radius: 8px;
    padding: 4px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
#divMyGroups p:hover {
    background-color: aqua;
    position: relative;
    opacity: 1;
    transform: scale(1.1);
}
#divMySubject {
    background-color: #ccced8;
    padding: 20px;
    border-radius: 10px;
}
#divMySubject table{
	border: 1px solid #eee;
	table-layout: fixed;
	width: 100%;
	margin-bottom: 20px;
}
#divMySubject table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}
#divMySubject table td{
	padding: 5px 10px;
	border: 1px solid #eee;
	text-align: center;

    /* width: 20%; */
}
#divMyGroups {
    width: 20%;
}
#divMySubject {
    width: 95%;

}
/* таблица расписание ------------------------- */
.table{
	border: 1px solid #eee;
	table-layout: fixed;
	width: 100%;
	margin-bottom: 20px;
}
.table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}
.table td{
	padding: 5px 10px;
	border: 1px solid #eee;
	text-align: center;
}
.table tbody tr:nth-child(odd){
	background: rgb(148, 192, 233);
}
.table tbody tr:nth-child(even){
	background: #e9d4d4;
}
.trHead {
    background-color: rgb(213, 224, 247);
}
.tdHead {
    width: 30px;
}
/* ------------------------------------- таблица расписание */

/* .displayShow {
    display: none;
} */
/* ------------ правая часть - отобрадение навигационных окон */

body {
    
}