<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Журнал</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/journal.css'>
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
</head>
<body>
    <div>
        <div id="divRight">
            <div>
                <p>
                    <div th:text="${}"></div>
                </p>
            </div>
            <div class="divRight">
                <p id="myMain">Занятия сегодня</p>
                <p id="mySchedule">Мое расписание</p>
                <p id="myGroups">Мои группы</p>
                <p id="mySubject">Мои предметы</p>
            </div>
        </div>
        <div id="divLeft">
            <div class="divLeft displayShow" id="divMain">
                <p>Сегоднешние занятия</p>
                <table>
                    <tr>
                        <td>1.</td>
                        <td>lesson</td>
                    </tr>
                </table>
            </div>
            <div class="divLeft displayShow" id="divMySchedule"></div>
            <div class="divLeft displayShow" id="divMyGroups">
                <table>
                    <tr>
                        <td>Группа</td>
                    </tr>
                </table>
            </div>
            <div class="divLeft displayShow" id="divMySubjects">
                <table>
                    <tr>
                        <td>Предмет</td>
                    </tr>
                </table>
            </div>
            <div class="divLeft " id="divMySubject">
                <p id="nameSubject">Название предмета</p>
                <table>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>дата</td>
                        <td>дата</td>
                        <td>дата</td>
                        <td>дата</td>
                        <td>дата</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Student</td>
                        <td>5</td>
                        <td>5</td>
                        <td>5</td>
                        <td>5</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Student</td>
                        <td>5</td>
                        <td>5</td>
                        <td>5</td>
                        <td>5</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Student</td>
                        <td>5</td>
                        <td>5</td>
                        <td>5</td>
                        <td>5</td>
                        <td>5</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
<script src='/js/journal.js'></script>
</html>