<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Журнал</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../static/css/journal.css'>
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
</head>
<body>
    <div>
        <div id="divRight">
            <div>
                <p>FIO</p>
            </div>
            <div class="divRight">
                <p id="myMain">Занятия сегодня</p>
                <p id="mySchedule">Мое расписание</p>
                <p id="myGroups">Мои группы</p>
                <p id="mySubject">Мои предметы</p>
            </div>
        </div>
        <div id="divLeft">
            <div class="divLeft displayShow" id="divMain">
                <p>Сегоднешние занятия:</p>
                <table>
                    <tr>
                        <td>1.</td>
                        <td>lesson</td>
                    </tr>
                </table>
            </div>
            <div class="divLeft displayShow" id="divMySchedule"></div>
            <div class="divLeft displayShow" id="divMyGroups">
                <h3>Мои группы:</h3>
                <table>
                    <tr>
                        <td>
                            <p>IT 001</p>
                            <p>IT 002</p>
                            <p>IT 003</p>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="divLeft displayShow" id="divMySubjects">
                <h3>Мои предметы:</h3>
                <table>
                    <tr>
                        <td>
                            <p>математика</p>
                            <p>руссикй</p>
                            <p>история</p>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="divLeft " id="divMySubject">
               <p id="nameSubject"> <span>Предмет: </span>Название предмета</p>
                <table>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>дата</td>
                        <td>дата</td>
                        <td>дата</td>
                        <td>дата</td>
                        <td>дата</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Student</td>
                        <td>5</td>
                        <td>5</td>
                        <td>5</td>
                        <td>5</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Student</td>
                        <td>5</td>
                        <td>5</td>
                        <td>5</td>
                        <td>5</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Student</td>
                        <td>5</td>
                        <td>5</td>
                        <td>5</td>
                        <td>5</td>
                        <td>5</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
<script src='../static/js/journal.js'></script>
</html>