<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Расписание</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../static/css/schedule.css'>
    
</head>
<body>
    <table class="table">
        <thead></thead>
        <tbody>
            <tr class="trHead">
                <td class="tdHead"></td>
                <td>Понедельник</td>
                <td>Вторник</td>
                <td>Среда</td>
            </tr>
            <tr>
                <td>
                    <table class="tableNamber">
                        <tr><td>1</td></tr>
                        <tr><td>2</td></tr>
                        <tr><td>3</td></tr>
                        <tr><td>4</td></tr>
                        <tr><td>5</td></tr>
                        <tr><td>6</td></tr>
                    </table>
                </td>
                <td>
                    <table id="monday">
                        <tr>
                            <td>
                                <!-- вывод данных -->
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table id="tuesday">
                        <tr>
                            <td>
                                <!-- вывод данных -->
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table id="wednesday">
                        <tr>
                            <td>
                                <!-- вывод данных -->
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="trHead">
                <td></td>
                <td>Четверг</td>
                <td>Пятница</td>
                <td>Суббота</td>
            </tr>
            <tr>
                <td>
                    <table class="tableNamber">
                        <tr><td>1</td></tr>
                        <tr><td>2</td></tr>
                        <tr><td>3</td></tr>
                        <tr><td>4</td></tr>
                        <tr><td>5</td></tr>
                        <tr><td>6</td></tr>
                    </table>
                </td>
                <td>
                    <table id="thursday">
                        <tr>
                            <td>
                                <!-- вывод данных -->
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table id="friday">
                        <tr>
                            <td>
                                <!-- вывод данных -->
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table id="saturday">
                        <tr>
                            <td>
                                <!-- вывод данных -->
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
<script src='../static/js/schedule.js'></script>
</html>