<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Расписание</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/journal.css'>
</head>
<body>
    <div>
        <div id="divLeft">
            <div>
                <p th:text="${teacher.getSecondName()}+' '+${teacher.getName()}+' '+${teacher.getPatronymic()}"></p>
            </div>
            <div class="divLeft">
                <form action="@{}" method="post">
                    <input type="submit" value="Занятия сегодня" id="myMain">
                </form>
                <form action="@{/schedule}" method="post">
                    <input type="submit" value="Мое расписание" id="mySchedule">
                </form>
                <form th:action="@{/journal/groups}" method="post">
                    <input type="submit" value="Мои группы" id="myGroups">
                </form>
                <form th:action="@{/journal/subjects}" method="post">
                    <input type="submit" value="Мои предметы" id="mySubjects">
                </form>
                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Выйти" id="myExit">
                </form>
            </div>
        </div>
        <div id="divRight">
            <table class="table">
                <thead>
                    <tr class="trHead">
                        <td colspan="4">Понедельник</td>
                        <td colspan="4">Вторник</td>
                        <td colspan="4">Среда</td>
                    </tr>
                    <tr>
                        <td>№</td>
                        <td>Название</td>
                        <td>Аудитория</td>
                        <td>Время</td>

                        <td>№</td>
                        <td>Название</td>
                        <td>Аудитория</td>
                        <td>Время</td>

                        <td>№</td>
                        <td>Название</td>
                        <td>Аудитория</td>
                        <td>Время</td>
                    </tr>
                </thead>
                <tbody>
                    <!-- строка - один предмет -->
                    <tr>
                        <!-- понедельник -->
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <!-- вторник -->
                        <td>2</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <!-- среда -->
                        <td>3</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                </tbody>
            </table>

            <table class="table">
                <thead>
                    <tr class="trHead">
                        <td colspan="4">Четверг</td>
                        <td colspan="4">Пятница</td>
                        <td colspan="4">суббота</td>
                    </tr>
                    <tr>
                        <td>№</td>
                        <td>Название</td>
                        <td>Аудитория</td>
                        <td>Время</td>

                        <td>№</td>
                        <td>Название</td>
                        <td>Аудитория</td>
                        <td>Время</td>

                        <td>№</td>
                        <td>Название</td>
                        <td>Аудитория</td>
                        <td>Время</td>
                    </tr>
                </thead>
                <tbody>
                    <!-- строка - один предмет -->
                    <tr>
                        <!-- четверг -->
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <!-- пятница -->
                        <td>2</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <!-- суббота -->
                        <td>3</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
<script src='/js/schedule.js'></script>
</html>