<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Урок</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel='stylesheet' type='text/css' media='screen' href='/css/journal.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/subject.css'>
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
</head>
<body>
<div>
    <div id="divLeft">
        <div>
            <p th:text="${teacher.getSecondName()}+' '+${teacher.getName()}+' '+${teacher.getPatronymic()}"></p>
        </div>
        <div class="divLeft">
            <form th:action="@{/journal}" method="post">
                <input type="submit" value="Занятия сегодня" id="myMain">
            </form>
            <form th:action="@{/schedule}" method="post">
                <input type="submit" value="Мое расписание" id="mySchedule">
            </form>
            <form th:action="@{/groups}" method="post">
                <input type="submit" value="Мои группы" id="myGroups">
            </form>
            <form th:action="@{/subjects}" method="post">
                <input type="submit" value="Мои предметы" id="mySubjects">
            </form>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Выйти" id="myExit">
            </form>
        </div>
    </div>
    <div id="divRight">
        <div class="divRight scroll-table-body" id="divMySubject">
            <span>Предмет:</span><p th:text="${lesson.getName()}" id="nameSubject"></p>
            <table class="table-mark">

                <tr>
                    <th>№</th>
                    <th>Студент</th>
                    <th:block th:each="date : ${dates}">
                        <td>
                            <a th:href="@{'/plan/' + ${lesson.getLessonId()}+ '/'+ ${date}}">
                                <p th:text="${date}"></p>
                            </a>
                        </td>
                    </th:block>
                </tr>

                <tr th:each="mark, index : ${marks}">
                        <td th:text="${index.index + 1}"></td>
                        <td th:text="${mark.getStudentId()}"></td>
                        <th:block th:each="mark1, index1 : ${marks}">
                            <th:block th:if="${index1.count <= marks.size()}">
                                <th:block th:switch="${mark.getDate() == mark1.getDate()} ? ${true} : ${false}">
                                    <div th:case="${true}">
                                        <td class="mark" th:text="${mark.getMark()}"></td>
                                    </div>
                                    <td th:case="${false}">-</td>
                                </th:block>
                            </th:block>
                        </th:block>
                </tr>

            </table>
            <form th:action="@{'/attendance/' + ${lesson.getLessonId()}}" method="post">
                <input type="submit" value="Посещаемость">
            </form>
            <form th:action="@{/subject/update}" method="post">
                <input type="submit" value="Сохранить">
            </form>
        </div>
        <div class="date-info">
            <form th:action="@{/journal}" method="post">
                <p id="date-info"></p>
                <p>План преподавателя</p>
                <ul id="ul-task">
                </ul>
                <input th:action="@{/subject/{id}/update}" method="post" type="submit" value="Сохранить">
            </form>
        </div>
    </div>
</div>
<div id="context-menu-mark" class="context-menu" style="display: none;">
    <ul class="ul-mark">
        <li><a href="#">5</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">2</a></li>
    </ul>
</div>
</body>
<script src='/js/subject.js'></script>
</html>